*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root{
    @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;600;800&display=swap');
}
.container {
    display: flex;
    flex-direction: column;
    align-items:center ;
    font-family: 'Dosis', sans-serif;
}

.container h1{
    margin-top: 80px;
    font-size: 50px;
}

.btn-selector{
    margin: 50px 0 90px 0;
    display: flex;
    gap: 180px ;
}

.btn-selector button{
    padding: 19px;
    font-size: 16px;
    font-weight: bold;
}