.showResult h3{
    font-size: 20px;
    margin-bottom: 14px;
}

.showResult form{
    display: flex;
    gap: 40px ;
    margin-bottom: 100px;
}

.showResult input{
    width:200px;
    height: 30px;
    padding-left: 10px;
}

.showResult button{
    width: 60px;
    height: 30px;
    border-radius: 5px;
    border: transparent;
    
}

.showResult form button {
    background-color: #5E5BFF;
    color: white;
}

.showResult form button:active {
    background-color: #3f3dac;
}

.delete-button{
    text-align: center;
    padding: 0;
}

.delete-button button{
    color: red;
    font-weight: bold;
}

.delete-button button:active{
background-color:#cccccc;
}

.admin-table td{
    background-color: white;
}
