*{
    box-sizing: border-box;
}

table,th,td{
    border: 1px solid #B9B9B9;
    border-collapse: collapse;
}

th,td{
    width: 200px;
}

th{
    background-color: rgba(0, 0, 0, 0.06);
}

tr{
    height: 36px;
}

td{
   padding-left: 16px;
}
